.main-header {
  background: linear-gradient(to left, #3023AE 0%, #C96DD8 100%);
  margin-bottom: 15px;

  a {
    color: #fff;
  }

  .navbar-toggler-icon:after {
    content: 'menu';
    font-family: 'Material Icons';
    font-size: 30px;
    color: #fff;
  }

  .nav-link {
    text-align: center;

    &.item--pill {
      border: 1px solid #fff;
      border-radius: 50px;
      padding: 7px 20px !important;
    }
  }
}