.articles-list {
  &__item {
    margin-bottom: 20px;
    border: none !important;
    box-shadow: 0 8px 14px rgba(#000, 0.05);
  }
  
  &__author {
    padding-right: 15px;
  }

  &__date {
    padding-right: 15px;
  }

  &__body {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  &__like-btn {
    @include position(absolute, null, 0, 0);
    border-radius: 100% 0 6px 0;
    width: 64px;
    height: 64px;
    padding: 25px;

    &:hover {
      i {
        animation: beat .3s infinite alternate;
      }
    }
  }

  &__read-more-btn {
    border-left: none;
    margin-left: -20px;
    border-radius: 0 50px 50px 0;
  }
}

@keyframes beat{
	to {
    transform: scale(1.4);
  }
}
