@mixin position($type: static, $top: null, $right: null, $bottom: null, $left: null, $zIndex: 0) {
  position: $type;
  @if ($top) {
    top: $top;
  }

  @if ($right) {
    right: $right;
  }

  @if ($bottom) {
    bottom: $bottom;
  }

  @if ($left) {
    left: $left;
  }

  @if ($zIndex) {
    z-index: $zIndex;
  }
}